<div class="contenedor">
    <table class="table">
       <thead>
         <tr>
             <th >Id</th>
             <th >Descripcion</th>
             <th >Lunes</th>
             <th >Martes</th>
             <th >Miércoles</th>
             <th >Jueves</th>
             <th >viernes</th>
             <th >Sábado</th>
             <th >Domingo</th>
             <th >Maquina</th>
           </tr>
       </thead>
       <tbody *ngFor="let ejercicio of ejercicios">
           <tr>
             
                <td>{{ejercicio.id}}</td>                   
               <td>{{ejercicio.descripcion}}</td>
               <td><input type="checkbox" /></td>
               <td><input type="checkbox" /></td>
               <td><input type="checkbox" /></td>
               <td><input type="checkbox" /></td>
               <td><input type="checkbox" /></td>
               <td><input type="checkbox" /></td>
               <td><input type="checkbox" /></td>
               <td>{{ejercicio.maquina.nombre_maq}}</td>
           </tr>
 
       </tbody>
    </table>
 </div>
