<h1>Lista de Ejercicios</h1>
<table class="table">
    <thead>
      <tr>
          <th >Id</th>
          <th >Descripcion</th>
          <th >Lunes</th>
          <th >Martes</th>
          <th >Miércoles</th>
          <th >Jueves</th>
          <th >viernes</th>
          <th >Sábado</th>
          <th >Domingo</th>
          <th >Maquina</th>
          <th >Acción</th>
        </tr>
    </thead>
    <tbody *ngFor="let ejercicio of ejercicios">
        <tr>
          
             <td>{{ejercicio.id}}</td>                   
            <td>{{ejercicio.descripcion}}</td>
            <td *ngIf="ejercicio.lunes"><input type="checkbox" checked/></td>
            <td *ngIf="!ejercicio.lunes"><input type="checkbox"/></td>
            <td *ngIf="ejercicio.martes"><input type="checkbox" checked/></td>
            <td *ngIf="!ejercicio.martes"><input type="checkbox"/></td>
            <td *ngIf="ejercicio.miercoles"><input type="checkbox" checked/></td>
            <td *ngIf="!ejercicio.miercoles"><input type="checkbox"/></td>
            <td *ngIf="ejercicio.jueves"><input type="checkbox" checked/></td>
            <td *ngIf="!ejercicio.jueves"><input type="checkbox"/></td>
            <td *ngIf="ejercicio.viernes"><input type="checkbox" checked/></td>
            <td *ngIf="!ejercicio.viernes"><input type="checkbox"/></td>
            <td *ngIf="ejercicio.sabado"><input type="checkbox" checked/></td>
            <td *ngIf="!ejercicio.sabado"><input type="checkbox"/></td>
            <td *ngIf="ejercicio.domingo"><input type="checkbox" checked/></td>
            <td *ngIf="!ejercicio.domingo"><input type="checkbox"/></td>
            
            <td>{{ejercicio.maquina.nombre_maq}}</td>
            <td><a class="btn btn-success" (click)="editar(ejercicio)">Editar</a></td>
        </tr>

    </tbody>
 </table>
